.movieImg {
    width: 200px;
    border-radius: 5px;
}

.movie {
    padding: 50px 30px 50px;
    
}

.movieInfo {
    display: flex;
}

li{
   list-style: none;
}

.movieList{
    padding-bottom: 10px;
}
.movieAditional{
    text-transform: uppercase;
}