.movieImg {
  width: 200px;
  border-radius: 5px;
}

.movie {
  padding: 50px 0;
}

.movieInfo {
  display: flex;
}

li {
  list-style: none;
}

.movieItem {
  padding-bottom: 10px;
}
.movieAditional {
  text-transform: uppercase;
}
.movieDesc {
  margin-left: 50px;
}
.movieTitle,
.movieItem,
.movieAditional,
.movieLink,
.movieInfo {
  color: #fff;
}
.activeLink {
  color: red;
}
