body {
  background-color: #111328;
}

.layout {
  padding: 20px 50px;
}
.link,
.activeLink {
  text-transform: uppercase;
  margin-right: 30px;
  text-decoration: none;
  color: #fff;
  font-size: medium;
}

.navigation {
  margin-bottom: 30px;
  margin-left: auto;
}

.activeLink {
  color: red;
}
