.cast {
  display: flex;
  flex-wrap: wrap;
}

.castImg {
  width: 70px;
  border-radius: 3px;
}

.castItem {
  display: flex;
  padding: 10px;
  width: 350px;
}
.castItemDesc {
  margin: auto 0;
}
.castName {
  color: #fff;
}
