.moviesList {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 0;
  margin: -15px;
}
.movieItem {
  list-style: none;
  width: 200px;
  margin: 15px;
}

.movie {
  width: 170px;
  border-radius: 5px;
}
p {
  margin: 0;
}

.movieTitle {
  color: #fff;
}
.movieLink {
  text-decoration: none;
}
